@import url('../../styles/constants.css');

#editable-course-row form {
    .description textarea {
        height: 100%;
        margin-top: 18px;
        border: none;
    }
    .students, .teacher {
        cursor: pointer;

        &.no-edit label {
            color: var(--grey);
        }
    }
    .students select {
        margin-top: 18px;
    }
    .no-edit {
        cursor: default;
    }
}

@media only screen and (max-width: 768px) {
    #editable-course-row form textarea {
        margin-top: 0;
    }
}