:root {
  --black: #1C1C1C;
  --black-glass: rgb(28, 28, 28, 0.6);
  --grey: rgb(139, 139, 139);
  --lilac: #B48ED5;
  --lilac-faded: rgb(180, 142, 213, 0.3);
  --lilac-dark: #2a2232;
  --gradient-glass-white: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 100%);
  --gradient-lilac-black: linear-gradient(90deg, var(--black) 0%, var(--lilac) 100%);

  --border: 1px solid white;

  --font-h1: 800 36px 'Playfair', serif;
  --font-h2: 600 20px 'Playfair', serif;
  --font-h3: 600 16px 'Playfair', serif;
  --font-body: 400 12px 'Playfair', serif;
  --font-button: large 'Anonymous-bold', monotype;
  --font-button-small: 12px 'Anonymous-bold', monotype;
  --font-detail: 12px 'Anonymous-bold', monotype;

  --floating-rows-gap: 12px;
  --floating-button-height: 64px;
  --mobile-header-height: 164px;
}