@import url('./constants.css');

.floating-rows {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: var(--floating-rows-gap);
}

.floating-rows .row {
    width: 900px;
    border: var(--border);
    background-color: var(--black);
    display: flex;
    color: white;
    cursor: default;

    > div, form > div {
        display: flex;
        align-items: center;
        padding: 12px;
        position: relative;
    }
    > div:not(:last-child),
    form > div:not(:last-child) {
        border-right: var(--border);
    }
    label {
        position: absolute;
        top: 6px;
        font: var(--font-detail);
        color: var(--grey);
        visibility: hidden;
    }
    .buttons {
        min-width: 60px;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .buttons button {
        height: 100%;
        width: 100%;
        cursor: pointer;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font: var(--font-button-small);
        color: var(--lilac);
    }
    .buttons button:not(:last-child) {
        border-bottom: var(--border);
    }
    button.disabled {
        color: var(--grey);
        cursor: auto;
    }
}

.floating-rows .row:hover {
    label {
        visibility: visible;
    }
}

.floating-rows .row form {
    display: flex;
    width: 100%;

    input {
        width: 100%;
    }
}

.floating-rows .editable {
    background-color: var(--lilac-dark);
    cursor: auto;

    label {
        visibility: visible;
    }
    div:hover label {
        color: var(--lilac);
    }
}

@media only screen and (max-width: 768px) {
    .floating-rows {
        margin-top: calc(var(--mobile-header-height) + 24px);
        width: 100%;
        margin-bottom: 24px; 
        /* calc(var(--floating-button-height) + 24px); */
        align-items: center;
        gap: 24px;

        .row {
            width: calc(100vw - 48px);
            flex-direction: column;
            height: auto;

            > div:not(:last-child),
            form > div:not(:last-child) {
                border-bottom: var(--border);
                border-right: none;
                min-height: 50px;
                padding: 16px 12px 8px 12px;
            }

            .title, .name {
                background-image: var(--gradient-glass-white);
            }

            .buttons {
                height: 36px;
                flex-direction: row;

                button:first-child {
                    border-bottom: none;
                    border-right: var(--border);
                }
            }

            form {
                flex-direction: column;
            }

            label {
                visibility: visible;
                top: 4px;
            }

            textarea, select {
                width: 100%;
            }
        }
    }
}