@import url('../../styles/constants.css');

#courses-table .row {
    height: 80px;

    .title { 
        min-width: 270px; 
        font: var(--font-h2);
    }
    .teacher { 
        min-width: 140px;
    }
    .students { 
        min-width: 200px;
        font: var(--font-detail);
    }
    .description {
        width: 100%;
        font: var(--font-detail);
    }
}