@import url('../../styles/constants.css');

header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 24px;
}

header .site-title {
    font-size: xxx-large;
    font-weight: 800;
    color: var(--black);
    text-shadow: 1px 1px 0px white;
}

nav {
    width: 600px;
    height: 80px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--black);
    color: white;
    font-size: 20px;
}


@media only screen and (max-width: 768px) {
    header {
        z-index: 20;
        position: fixed;
        top: 0;
        height: var(--mobile-header-height);
        background-color: var(--black);
        padding-top: 12px;
        
        .site-title {
            color: white;
            text-shadow: none;
        }
    }
    nav {
        width: 100%;
        justify-content: space-around;
        gap: 0;
        border-width: 1px 0 1px 0;
    }
}