@import url('../../constants.css');


footer {
    margin-top: 100px;
    width: 100%;
    min-height: 200px;
    border-top: var(--border);
    background-color: var(--black);
    color: white;
    padding: 36px;
}