@import url('../../styles/constants.css');

#editable-course-row form {
    .teacher {
        cursor: pointer;
    }
    .description textarea {
        height: 100%;
        margin-top: 18px;
        border: none;
    }
    .students {
        cursor: pointer;
    }
    .students select {
        margin-top: 18px;
    }
}