@import url('../../styles/constants.css');

.form-overlay {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.form-container {
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50% 0;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.form-container .hero {
    width: 100%;
    border: var(--border);
    background-color: var(--black);
    backdrop-filter: blur(10px);
    padding: 36px;
    display: flex;
    flex-direction: column;
    font: var(--font-h1);
    color: white;
    text-align: center;

    .over-title {
        font: var(--font-detail);
    }
}

form#auth-form {
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    color: white;
}

form .title {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font-detail);
    background-image: var(--gradient-glass-white);
}

form .form-input {
    padding: 0 12px;
    height: 40px;
    border-bottom: 1px solid white;
    font: var(--font-h3);
}

form .message {
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    font: var(--font-detail);
    color: var(--grey);
}

form .buttons {
    height: 40px;
    display: flex;
    font-weight: 800;

    button:first-child {
        border-right: 1px solid white;
    }
    button {
        width: 100%;
        cursor: pointer;
    }
    .submit-button {
        background-color: var(--lilac);
        color: #1c1c1c;
    }
    .redirect-button {
        background-image: var(--gradient-glass-white);
        color: var(--lilac);
    }
}

@media only screen and (max-width: 768px) {
    .form-container {
        top: 20%;
        width: calc(100vw - 48px);

        .hero {
            gap: 6px;
        }
    }

    form#auth-form {
        width: calc(100vw - 48px);
        
        .title {
            height: 36px;
        }
        .form-input, .buttons {
            height: 48px;
        }
    }
}
