@import url('../../styles/constants.css');

.form-overlay {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 280px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: -1px;
    border: 1px solid white;
    color: white;
}

.form-container .title {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font-detail);
    background-image: var(--gradient-glass-white);
}

.form-container .form-input {
    padding: 0 12px;
    height: 40px;
    border-bottom: 1px solid white;
    font: var(--font-h3);
}

.form-container .message {
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    font: var(--font-detail);
    color: var(--grey);
}

.form-container .buttons {
    height: 40px;
    display: flex;
    font-weight: 800;

    button:first-child {
        border-right: 1px solid white;
    }
    button {
        width: 100%;
        cursor: pointer;
    }
    .submit-button {
        background-color: var(--lilac);
        color: #1c1c1c;
    }
    .redirect-button {
        background-image: var(--gradient-glass-white);
        color: var(--lilac);
    }
}

@media only screen and (max-width: 768px) {
    .form-container {
        width: calc(100vw - 48px);
        
        .title {
            height: 36px;
        }
        .form-input, .buttons {
            height: 48px;
        }
    }
}
