@import 'tailwindcss';
/* Tailwind is currently only used to cancel default stylings */

@font-face {
  font-family: 'Anonymous-bold';
  src: local('AnonymousPro-Regular'), url('./assets/fonts/AnonymousPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Playfair';
    src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

body {
    background-image: url('./assets/images/bg-fabric-262626.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: none;
    font-family: 'Playfair';
    font-size: 12pt;
}

textarea {
    resize: none;
}
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
    outline: none;
}

select {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    appearance: none; /* removes default arrow styling on most browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.modal-overlay {
    position: fixed;
    z-index: 20;
    top: 0; bottom: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(28, 28, 28, 0.6);
    backdrop-filter: blur(1px);
}




/* Utility classes */

.no-edit {
    cursor: default;
}

.delete-button:hover:not(.disabled) {
    color: #ff7575!important;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.25s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in-out {
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2s, visibility 0ms ease-in 0.2s;

    &.show {
        visibility: visible;
        opacity: 1;
        transform: scale(100%);
        transition-delay: 0s;
    }
}

.scale-up-down {
    transform: scale(90%);
    transition: transform linear 0.2s;

    &.show {
        transform: scale(100%);
        transition-delay: 0s;
    }
}